$border-color: #ffffff0d;
$border: 2px solid $border-color;
$border-radius: rem(32);

.root {
  position: relative;
  width: rem(450);
  height: rem(490);
  /* background-color: var(--card-background); */
  border-radius: $border-radius;
  /* border-left: $border;
  border-right: $border;
  border-bottom: $border; */
  /* background: radial-gradient(at 50% 50%, #ffffff54 0%, #ffffff0d 60%) no-repeat 50% 0 / 100% 100%; */
  border: double 4px transparent;
  background-image: linear-gradient(var(--card-background), var(--card-background)),
    radial-gradient(circle at top center, #ffffff54 0%, $border-color 25%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  display: flex;
  flex-direction: column;
}

.gradientLayer {
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: 2px;
  border-radius: $border-radius;
  z-index: -1;
}

.info {
  padding-top: rem(32);
  padding-left: rem(32);
  padding-right: rem(32);
  padding-bottom: rem(16);
}

.firstLine {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.difference {
  width: rem(155);
  height: rem(55);
  border: 2px solid var(--red-difference-border);
  border-radius: rem(32);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: rem(8);
  padding-inline: rem(20);
  padding-top: rem(20);
  padding-bottom: rem(20);
  background-color: var(--red-difference-bg);
  box-shadow: var(--red-difference-shadow);

  background-origin: border-box;
  background-clip: padding-box, border-box;
}

.title {
  font-size: rem(24);
  line-height: rem(32);
  color: var(--title-color);
}

.number {
  font-size: rem(24);
  line-height: rem(32);
  color: var(--red-difference);
}

.quantity {
  font-size: rem(48);
  font-weight: 500;
  line-height: rem(54);
  color: var(--number-color);
}

.comment {
  margin-top: rem(8);
  font-size: rem(24);
  line-height: rem(32);
  color: var(--comment-color);
}

.chart {
  padding-top: rem(25);
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
